[submodule "Engine/Vendor/spdlog"]
	path = Engine/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/Vendor/imgui"]
	path = Engine/Vendor/imgui
	url = https://github.com/GCourtney27/imgui.git
[submodule "Engine/Vendor/Microsoft/DirectX12/TK"]
	path = Engine/Vendor/Microsoft/DirectX12/TK
	url = https://github.com/GCourtney27/DirectXTK12.git