[submodule "CoreEngine/Engine/vendor/spdlog"]
	path = CoreEngine/Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "CoreEngine/Engine/vendor/imgui"]
	path = CoreEngine/Engine/vendor/imgui
	url = https://github.com/GCourtney27/imgui.git
